<%- include('header'); -%>

    <div class="box">
        <h1 id="heading">
            This is the About Page
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ducimus repellendus, fugit aliquid quasi
            consequuntur reprehenderit, modi commodi, nam amet accusamus odit. Cumque nulla dolorem repellendus quae
            eaque
            vel hic.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ducimus repellendus, fugit aliquid quasi
            consequuntur reprehenderit, modi commodi, nam amet accusamus odit. Cumque nulla dolorem repellendus quae
            eaque
            vel hic.
        </p>
    </div>
<%- include('footer'); -%>